<!--The content below is only a placeholder and can be replaced.-->
<div class="" *ngIf="!isGameStarted && !isGameEnd" id="start-screen">
  <div class="row ">
    <div class="col text-center">
      <img  src="assets/images/deck-of-cards.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p id="game-name">MEMORY GAME</p>
      <button data-tid="NewGame-startGame" class="btn game-btn"   (click)="startGame()">Начать игру</button>
    </div>

  </div>
</div>
<div *ngIf="isGameStarted" id="game-block" class="container">
  <app-menu (startAgain)="startGame()"></app-menu>
  <app-card-list data-tid="Deck" (gameEnd)="endGame()"  [cards]="cards"></app-card-list>
</div>
<div data-tid="EndGame-retryGame" *ngIf="isGameEnd" id="end-screen">
  <div class="row">
    <div class="col text-center">
      <img width="480px"  src="assets/images/deck-of-cards-2.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>Поздравляем!</p>
      <p>Ваш итоговый счёт: {{ score }}</p>
      <button class="btn game-btn" (click)="startGame()">Ещё раз</button>
    </div>
  </div>
</div>

